/* Styles for main page */
.hide {display: none}
.hide.active {display: inline-block}

.wp-list-table a:hover .dashicons.hide  {display: inline-block}

.upload_form {
    padding: 15px 0;
}
.upload_form input[name="cdata_file_upload"] {
    min-width: 20%;
}
.upload_form input[type="submit"] {
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: none;
}