/* Styles */
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.wrapper .str {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: 100%;
}
.wrapper .str label {
    flex-basis: 300px;
}
.wrapper .str input[type="text"] {
    flex-basis: 40%;
}
.wrapper .str input[type="submit"] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: none;
    cursor: pointer;
    min-width: 200px;
    padding: 15px;
}