.ta_center {
    text-align: center;
}
.str.title {
    color: #000;
    font-size: 40px;
}

.str {
    display: flex;
    color: #8b8b8b;
    font-size: 16px;
    font-family: Montserrat sans-serif;
    flex-direction: column;
    margin: 20px 0;
    width: 100%;
}
.str.str50 {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.str.str50 .block {
    box-sizing: border-box;
    padding: 0 20px;
    width: 50%;
}
.str.str50 .block:first-child {
    padding: 0 20px 0 0;
}
.str.str50 .block:last-child {
    padding: 0 0 0 20px;
}
.str .block {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.str input[type="submit"]:hover,
.str input[type="submit"],
.str input[type="time"],
.str input[type="date"],
.str input[type="email"],
.str input[type="tel"],
.str input[type="text"] {
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 15px;
}
.str input[type="submit"]:focus,
.str input[type="submit"]:visited,
.str input[type="submit"]:hover,
.str input[name="cdata_submit"] {
    background: transparent;
    color: #5d5d5d;
    font-weight: 400;
    margin-top: 20px;
    padding: 13px 15px;
    text-transform: uppercase;
}
.str input[type="submit"][disabled="disabled"] {
    opacity: 0.3;
    cursor: default;
}